<html>
   <div style="margin-top: 18%">
      <b><text style="font-size: 80px"><center><FONT COLOR="BLUE">F</FONT COLOR><FONT COLOR="RED">R</FONT COLOR><FONT COLOR=#F4BC1C>O</FONT COLOR><FONT COLOR="BLUE">O</FONT COLOR><FONT COLOR="GREEN">G</FONT COLOR><FONT COLOR="RED">L</FONT COLOR><FONT COLOR=#F4BC1C>E</FONT COLOR></center></text></b>
         <br> <center><text style="font-size: 30px"><FONT COLOR="GREY">The First Reddit Financial Search Engine!</text></center>
      <body>  
         <center>   
            <form action = "/results" method = "post">
            <p><input type = "text" name = "query" placeholder="Enter a Query!" style="width: 500px; height: 30px;"/>

            <input type = "submit" value = "Search!" style="width: 100px; height: 30px;"/></p>
      
            </form>  
         </center>   
      </body>
   </div>
</html>